<?xml version='1.0' encoding='utf-8'?>
<widget id="br.fib.lp5.starwars" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Trabalho Star Wars</name>
    <description>
       Consulta de pessoas, planetas e naves.
    </description>
    <author email="patriciasoramos@gmail.com">
        Patricia Ramos
    </author>
    <content src="index.html" />
	<preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="StatusBarBackgroundColor" value="#e81272" />
    </platform>
    <engine name="android" spec="~5.2.2" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.0" />
</widget>
